{% extends '__base.html' %}
{% load static %}
{% block content %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Your 7 Meals </h1>
                <form method='POST' action="{% url 'meals:wrap_up' %}">
                    {% csrf_token %}
                    <input type="hidden" name='meals_pk'
                           value="{% for meal in meals %}{{meal.pk}},{% endfor %}">
                
                    <input type="submit" class='btn btn-link' value='Wrap it up'</a>
          </div>
        </div>
        <div class="row">
        {% for meal in meals %}
          <div class="col-md-4">
              <a href="{% url 'meals:dish_detail' meal.pk %}">
                  {% if meal.picture %}
                  <img src="{{ meal.picture.url }}" class="img-responsive" style="max-width:360;max-height:270;">
                  {% else %}
                  <img src="{% static 'img/placeholder.jpg' %}" class="img-responsive" style="max-width:360;max-height:270;">
                  {% endif %}
              </a>
              <h3>{{ meal.name }}</h3>
            <p>Looks delicouse - lets cook </p>
          </div>
            {% if forloop.counter|divisibleby:"3" %}
                </div>
                <div class="row">
            {% endif %}
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
      </div>
    </div>
{% endblock %} 
