{% extends '__base.html' %}
{% block contend %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Your 7 Meals</h1>
          </div>
        </div>
        <div class="row">
        {% for meal in meals %}
          <div class="col-md-4">
            <a><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
            <h3>A title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,&nbsp;</p>
          </div>
        {% if forloop.counter|divisibleby:"3" %}
            </div>
            <div class="row">
        {% endif %}
        {% if forloop.last %}
            </div>
        {% endif %}
      </div>
    </div>
{% end block %} 
