{% extends '__base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'js/marked.js' %}"></script>
<div class="section"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-md-6">
                {% if dish.picture %} 
                    <img src="{{ dish.picture.url }}" class="img-responsive" style="max-width:500px; max-height:500px">
                {% else %}
                    <img src="{% static 'img/placeholder.jpg' %}" class="img-responsive" style="max-width:500px; max-height:500px">
                {% endif %}
            </div>
            <div class="col-md-6"> 
                <h1>{{dish.name}} 
                    <small>
                        {% if dish not in request.user.user_extend.get_favourites %}
                        <a href={% url 'profiles:fav_toggle' dish.pk %} class="unfav">
                        <span class="glyphicon glyphicon-star-empty"
                            aria-hidden="true"></span></a>
                        {% else %}
                        <a href={% url 'profiles:fav_toggle' dish.pk %} class="fav">
                        <span class="glyphicon glyphicon-star"
                            aria-hidden="true"></span></a>
                        {% endif %}
                        - 
                        <a href="{% url 'meals:dish_update' dish.id %}">Edit</a>
                    </small>
                </h1>
                <div id="recipe"></div>
                <script>
                    document.getElementById('recipe').innerHTML =
                        marked('{{ dish.recipe|escapejs }}');
                </script>
                <h4>Ingredients</h4>
                <ul>
                    {% for ingredient in dish.ingredient_set.all %}
                    <li>{{ ingredient.amount }} {{ ingredient.unit }} {{ ingredient.name }} <small>- <a href="{% url 'meals:ingredient_update' ingredient.id %}">edit</a></small></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
