{% extends '__base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'js/marked.js' %}"></script>
<div class="section"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-md-6"> 
                <img src="{{ dish.picture.url }}" class="img-responsive">
            </div>
            <div class="col-md-6"> 
                <h1>{{dish.name}}</h1>
                <div id="recipe"></div>
                <script>
                    document.getElementById('recipe').innerHTML =
                        marked('{{ dish.recipe|escapejs }}');
                </script>
                <h4>Ingredients</h4>
                <ol>
                    {% for ingredient in dish.ingredient_set.all %}
                        <li>{{ ingredient.amount }} {{ ingredient.unit }} {{ ingredient.name }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}
