{% extends '__base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'js/marked.js' %}"></script>
<div class='section'>
   <div class='container'>
        <div class='row'>
            <div class='col-md-6'>
                {% if ingredient.dish.picture %}
                    <img src="{{ ingredient.dish.picture.url }}" class="img-responsive" style="max-width:500px; max-height:500px"/>
                {% else %}
                    <img src="{% static 'img/placeholder.jpg' %}" class="img-responsive" style="max-width:360;max-height:270;">
                 {% endif %}
            </div>
            <div class='col-md-6'>
                <h1> {{ingredient.dish.name }} </h1>
                <div id='recipe'></div>
                <script>
                    document.getElementById('recipe').innerHTML =
                        marked('{{ ingredient.dish.recipe|escapejs }}');
                </script>
            <h4>Ingredients</h4>
            <ul> 
                {% for ingredient_dish in ingredient.dish.ingredient_set.all %}
                    {% if ingredient_dish == ingredient %}
                        <form method='post'>
                            {% csrf_token %}
                            {{ ingredient_form }}
                            <input type="submit" class="btn btn-default" style="margin-top:5px;" value="Edit" />
                            <a href={% url 'meals:ingredient_delete' ingredient.pk %} style="margin-top:5px;" class="btn btn-danger">Delete</a>
                        </form>
                    {% else %}
                        <li> {{ ingredient_dish.amount }} {{ingredient_dish.unit }} {{ingredient_dish.name }} </li>
                    {% endif %}
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
