{% extends '__base.html' %}
{% load static %}
{% block content %}
<style>
html, body, #editor {
  margin: 0;
  height: 250;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}

textarea, #editor div {
  display: inline-block;
  width: 49%;
  height: 250;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}

textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

code {
  color: #f66;
}
</style>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label">Dish</label>
                        {{ dish_form.name }}
                            {% if dish_form.name.errors %}
                                {% for error in dish_from.name.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Picture</label>
                        {{ dish_form.picture }}
                            {% if dish_form.picture.errors %}
                                {% for error in dish_from.picture.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="form-group">Recipe</label>
                        <div id="editor">                        
                            {{ dish_form.recipe }}
                            <div v-html="input | marked"></div>
                        </div>
                        {% if dish_form.recipe.errors %}
                            {% for error in dish_from.picture.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    </div> 
                    <br />
                    <input type="submit" value="Edit dish" class="btn btn-primary"/>
                    <a href={% url 'meals:dish_delete' dish.pk %} class="btn btn-danger">Delete Dish </a>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.formset.js' %}"></script> 
<script src="{% static 'js/marked.js' %}"></script>
<script src="{% static 'js/vue.min.js' %}"></script>
<script>
    $('#formset').formset({
        addText:'add ingredient',
        deleteText:'remove'
        });
</script>
<script>
    new Vue({
        el: '#editor',
        data: {
            input: '# Recipe'
        },
        filters: {
            marked: marked
        }
    })
</script>
{% endblock %}
